html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #009000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5pt;
  line-height: 2.5pt;
}

canvas {
  display: block;
}
